@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,900;1,600;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    color: #ffffff;
}
.conteudo .background-img {
    width: 100%;
    height: 100vh;
}
.background-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.sessao-header {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    background: #a17b10e3;
    height: 10vh;
}
.img-header {
    position: absolute;
    top: 1.5vh;
    margin-left: 6.5%;
}
.img-header img {
    width:100px;
    height: 50px;
    object-fit: cover;
    opacity: 0.6;
    border-radius: 20px;
}
.menu-header {
    position: absolute;
    top: 3.5vh;
    left: 45%;
    
}
.menu-header a {
    padding-top: 3.5vh;
    font-weight: 600;
    margin-left: 2.5rem;
    font-size: 1.1rem;
}
.sessao-principal {
    position: absolute;
    top: 15vh;
    margin-left: 6.5vmax;
}
.sessao-principal .slogan{
    position: relative;
    top: 8vh;
}
.sessao-principal h1 {
    text-align: left;
    font-size: 46px;
    font-weight: 610;
    margin: 20px 0 24px;
    width: 45%;
}
.slogan p {
    font-size: 24px;
    line-height: 1.5rem;
    align-items: left;
    width: 35%;
}
.img-section {
    position: absolute;
    top: -2vh;
    left:43.2vmax;
    opacity: 0.3;
}
.img-section img {
    object-fit: cover;
    width: 470px;
    height: 30vh;
    border-radius: 15px;
}
.container {
    position: absolute;
    left:41.2vmax;
    width: 535px;
    height: 307.39px;
    border-radius: 20px;
    top: 32vh;
    background: #352f2f8c;
    border: #c4bbbb solid 2px;
}

.container h3{
    position: absolute;
    font-size: 1.2rem;
    left: 28%;
    top: 8%;
}
.container .input-fild #nome {
    position: absolute;
    top: 15%;
    width: 90%;
    padding: 18px;
    border-radius: 20px;
    margin: 5%;
    color: black;
}
.container .input-fild #telefone {
    position: absolute;
    top: 40%;
    width: 90%;
    padding: 18px;
    border-radius: 20px;
    margin: 5%;
    color: black;
}
.container label {
    position: absolute;
    top: 91%;
    left: 12.5vmax;
}
.container #butom {
    cursor: pointer;
    position: absolute;
    text-align: center;
    background: rgba(211, 139, 7, 0.801);
    top: 72%;
    left: 1.5vmax;
    width: 90%;
    padding: 14px;
    border-radius: 20px;
}